<div style="position:fixed; width:15.5%; height:100%;" class="mdb-color darken-3">
  <ul class="list-group col-sm-2" style="margin-top:10px;">
    <li class="list-group-item" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><mat-icon class="mr-2">dashboard</mat-icon><span class="text" style="color:white;"> Dashboard</span></li>
    <li class="list-group-item" routerLink="/user-details" routerLinkActive="active" ><mat-icon class="mr-2">supervisor_account</mat-icon><span class="text" style="color:white;"> User Details</span></li>
    <li class="list-group-item" routerLink="/total-assets" routerLinkActive="active" ><mat-icon class="mr-2">description</mat-icon><span class="text" style="color:white;"> Total Assets</span></li>
    <li class="list-group-item" routerLink="/trade-history" routerLinkActive="active" ><mat-icon class="mr-2">receipt</mat-icon><span class="text" style="color:white;"> Trade History</span></li>
  </ul>
</div>
